body {
    font-family: Arial, sans-serif;
    background-color: #313537;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    width: 1728px; /* 90vw on w : 19.2 per vw*/
    max-width: 1728px;
    min-width: 1728px;
    height: 925px; /* 98vw on h : 9.47 per vh*/
    max-height: 925px;
    min-height: 925px;
    overflow-y: hidden;
}

/* Upper panels */
#deck-filter-panel {
    width: 1497.6px;
    height: 153.6px;
    min-width: 192px;
    min-height: 153.6px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 19.2px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#deck-panel {
    width: 192px;
    height: 153.6px;
    min-width: 192px;
    min-height: 153.6px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5.76px;
    font-size: 21.12px;
}

#card-list-panel .card {
  user-select: none;
}

/* Lower panels */
#card-list-panel {
    width: 1497.6px;
    height: 768px;
    min-width: 192px;
    min-height: 192px;
    overflow-y: auto;
    max-height: 768px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 52.8px;
    gap: 20px;
    row-gap: 60px;
    scrollbar-width: none;
}

#deck-list-and-code-panel {
    width: 192px;
    height: 768px;
    min-width: 192px;
    min-height: 192px;
    max-height: 768px;
    border: 1px solid black;
    box-sizing: border-box;
}

#deck-list-panel {
    width: 192px;
    height: 681.6px;
    min-width: 192px;
    min-height: 153.6px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    scrollbar-width: none;
}

#deck-code-panel {
    width: 190.08px;
    height: 86.4px;
    min-width: 190.08px;
    min-height: 86.4px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding-top: 2.5%;
}

.copy-code-btn, .enter-code-btn, .delete-deck-btn {
  flex: 0 1 auto;
  max-width: 49%;
  height: auto;
}

.card {
    width: 215px;
    height: 301px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-info {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
  width: max-content !important;
  max-width: 691.2px !important;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  gap: 1rem;
  top: 19.2px;
  left: 19.2px;
}

.popUpCard {
  flex-shrink: 0;
  width: 345.6px;
  height: 483.84 px;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  position: relative;
}

.popUpCard img {
  width: 100%;
  height: 100%;
  max-width: 345.6px;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.popUpDetails {
  flex-grow: 1;
  user-select: none;
  overflow-wrap: break-word;
}

.decklistCard {
  width: 170.88px;
  height: 22px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-size: 141.6%;
  background-position: 13% 2.6%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

#rarity {
  width: 22px;
  height: 22px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-size: 2000%;
  background-position: 50% 93%;
  background-repeat: no-repeat;
}

#cardCount {
    width: 19.2px;
    height: 19.2px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: transparent;
    padding-top: 1%;
    margin-top: 1%;
}

#card-input {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 235px;
}

@keyframes flash {
  0% { background-color: rgb(0, 123, 255); }
  100% { background-color: transparent; }
}

.flash {
  animation: flash 0.5s ease;
}

#deckCode::placeholder {
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
}

.card.flashCard::before {
  animation: flashCard 0.5s ease;
  z-index: 2;
}

/* @keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: transparent; }
} */

@keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: rgba(255, 255, 255, 0); }
}

.card.disabled {
  opacity: 0.4;
  filter: grayscale(80%);
  user-select: none;
}


.decklistCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0); /* Start transparent */
  pointer-events: none;
  z-index: 1;
}

.decklistCard.flashCard::before {
  animation: flashCard 0.5s ease;
  z-index: 2;
}

/* @keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: transparent; }
} */


/* #cards-fieldset {
    border: none;
    padding: 0;
    margin: 0 auto;
    background: none;
    max-width: 300px;
}

#cards-checklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.cards-checklist-item {
    flex: 1 1 auto;
    margin: 5px;
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
}

.card-warning-icon {
    color: red;
    margin-left: -2px;
} */