body {
    font-family: Arial, sans-serif;
    background-color: #313537;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    width: 90vw; /* 90vw on w : 19.2 per vw*/
    max-width: 90vw;
    min-width: 90vw;
    height: 98vh; /* 98vh on h : 9.44 per vh*/ 
    max-height: 98vh;
    min-height: 98vh;
    overflow-y: hidden;
}

/* Upper panels */
#deck-filter-panel {
    width: 78vw;
    height: 16.27vh;
    min-width: 10vw;
    min-height: 16.27vh;
    border: 0.0625rem solid black;
    box-sizing: border-box;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#deck-panel {
    width: 10vw;
    height: 16.27vh;
    min-width: 10vw;
    min-height: 16.27vh;
    border: 0.0625rem solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.36rem;
    font-size: 1.32rem;
}

#card-list-panel .card {
  user-select: none;
}

/* Lower panels */
#card-list-panel {
    width: 78vw;
    height: 81.36vh;
    min-width: 10vw;
    min-height: 20.34vh;
    overflow-y: auto;
    max-height: 81.36vh;
    border: 0.0625rem solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 3.3rem;
    gap: 1.24rem;
    row-gap: 6.36vh;
    scrollbar-width: none;
}

#deck-list-and-code-panel {
    width: 10vw;
    height: 81.36vh;
    min-width: 10vw;
    min-height: 20.34vh;
    max-height: 81.36vh;
    border: 0.0625rem solid black;
    box-sizing: border-box;
}

#deck-commander-panel {
    width: 10vw;
    height: 2.44vh;
    min-width: 10vw;
    min-height: 2.44vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    scrollbar-width: none;
    border-bottom: 0.0625rem solid black;
}

#deck-list-panel {
    width: 10vw;
    height: 55.68vh;
    min-width: 10vw;
    min-height: 55.68vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    scrollbar-width: none;
    border-bottom: 0.0625rem solid black;
}

#deck-sideboard-panel {
    width: 10vw;
    height: 7.1vh;
    min-width: 10vw;
    min-height: 7.1vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    scrollbar-width: none;
    border-bottom: 0.0625rem solid black;
}

#deck-extra-panel {
    width: 10vw;
    height: 7vh;
    min-width: 10vw;
    min-height: 7vh;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    scrollbar-width: none;
}

#deck-code-panel {
    width: 9.9vw;
    height: 9.15vh;
    min-width: 9.9vw;
    min-height: 9.15vh;
    border-top: 0.0625rem solid #000;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding-top: 2.5%;
}

.copy-code-btn, .enter-code-btn, .delete-deck-btn {
  flex: 0 1 auto;
  max-width: 49%;
  height: auto;
}

.card {
    width: 11.2vw;
    height: 31.89vh;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-info {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
  width: max-content !important;
  max-width: 36vw !important;
  background: #fff;
  border: 0.0625rem solid #ccc;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  gap: 1rem;
  top: 2.03vh;
  left: 1vw;
}

.popUpCard {
  flex-shrink: 0;
  width: 18vw;
  height: 51.25vh;
  border-radius: 0.625rem;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  position: relative;
}

.popUpCard img {
  width: 100%;
  height: 100%;
  max-width: 18vw;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.popUpDetails {
  flex-grow: 1;
  user-select: none;
  overflow-wrap: break-word;
}

.decklistCard {
  width: 8.9vw;
  height: 2.33vh;
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
  background-size: 141.6%;
  background-position: 13% 2.6%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

#rarity {
  width: 1.15vw;
  height: 2.33vh;
  border-radius: 0.625rem;
  position: relative;
  overflow: hidden;
  background-size: 2000%;
  background-position: 50% 93%;
  background-repeat: no-repeat;
}

#cardCount {
    width: 1vw;
    height: 2.03vh;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    border: 0.125rem solid black;
    background-color: transparent;
    padding-top: 1%;
    margin-top: 1%;
}

#card-input {
    border: 0.125rem solid #ccc;
    border-radius: 0.3125rem;
    width: 100%;
    max-width: 12.24vw;
}

@keyframes flash {
  0% { background-color: rgb(0, 123, 255); }
  100% { background-color: transparent; }
}

.flash {
  animation: flash 0.5s ease;
}

#deckCode::placeholder {
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
}

.card.flashCard::before {
  animation: flashCard 0.5s ease;
  z-index: 2;
}

/* @keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: transparent; }
} */

@keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: rgba(255, 255, 255, 0); }
}

.card.disabled {
  opacity: 0.4;
  filter: grayscale(80%);
  user-select: none;
}


.decklistCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0); /* Start transparent */
  pointer-events: none;
  z-index: 1;
}

.decklistCard.flashCard::before {
  animation: flashCard 0.5s ease;
  z-index: 2;
}

/* @keyframes flashCard {
  0% { background-color: rgba(255, 255, 255, 0.6); }
  100% { background-color: transparent; }
} */


/* #cards-fieldset {
    border: none;
    padding: 0;
    margin: 0 auto;
    background: none;
    max-width: 300px;
}

#cards-checklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.cards-checklist-item {
    flex: 1 1 auto;
    margin: 5px;
    font-size: smaller;
    text-align: left;
    white-space: nowrap;
}

.card-warning-icon {
    color: red;
    margin-left: -2px;
} */