<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/ranktracker.css">
    <title>Rank Tracker</title>
    <script src="/js/rankTrackerClient.js"></script>
  </head>
  <body>
  </body>
</html>