<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/css/ranktracker.css">
    <title>Rank Tracker</title>
  </head>
  <body>
  <div class="rankTrackerUI">
  <div class="rankTrackerInner">
    <div class="rankTrackerGraph"></div>
    <div class="rankTrackerPlayers"></div>
  </div>
  </div>
  <div class="graphButtons">
    <input type="checkbox" id="showLast10" class="graphCheckbox">
    <label for="showLast10" class="graphButtonLabels">Last 10 Games</label>
    <input type="checkbox" id="showLast100LP" class="graphCheckbox">
    <label for="showLast100LP" class="graphButtonLabels">Last 100 LP</label>
  </div>
  <div class="listButtons">
    <button type="button" class="listButton" id="deselectOutliers">Inliers</button>
    <button type="button" class="listButton" id="platRace">Race</button>
    <button type="button" class="listButton" id="selectAll">All</button> 
    <button type="button" class="listButton" id="clear">Clear</button> 
  </div>
  </body>
    <script>
        window.players = <%- JSON.stringify(players) %>;
    </script>
    <script src="/js/rankTrackerClient.js"></script>
</html>